[submodule "URL-Shortner-client"]
	path = URL-Shortner-client
	url = https://github.com/HOD101s/URL-Shortner-client.git
[submodule "URL-Shortner-server"]
	path = URL-Shortner-server
	url = https://github.com/HOD101s/URL-Shortner-server.git
